* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

nav img {
  height: 60px;
  width: 140px;
}

.clearfix {
  height: 30px;
}

body {
  height: 100%;
  width: 100%;
}
img {
  width: 100%;
}
p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.8px;
}

.heading {
  text-align: center;
  font-weight: bold;
  margin-bottom: 60px;
  margin-top: 80px;
  color: rgb(58, 17, 97);
}
.border-radius-20 {
  border-radius: 20px;
}
.header-bg {
  background-color: rgba(197, 240, 197, 0.4);
}
.signin-btn {
  width: 100px;
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about {
  margin: 60px 0;
}
.about-diff-bg {
  background: white;
  box-shadow: 2px 2px 30px rgb(172, 170, 170);
  height: 300px;
}
.about-same-bg {
  background-color: rgba(197, 240, 197, 0.2);
  height: 300px;
}

.about-img-width {
  width: 30%;
}

/* todo students section */
.photoframe {
  position: relative;
  overflow: hidden;
  margin: 20px auto;
}
.photoframe .photo img {
  width: 100%;
  height: 250px;
  transition: all 0.5s ease-in;
}

.photoframe:hover img {
  transform: scale(1.2);
}
.photoframe:hover .discription {
  visibility: visible;
}
.discription {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.8);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  height: 250px;
  padding: 20px;
  align-items: center;
  width: 100%;
  transition: visibility 0.5s ease-in;
}

.discription h3 {
  color: blue;
  font-weight: 600;
  text-shadow: 1px 1px 5px white;
}

.card-title {
  font-size: 25px;
}

.card {
  align-items: flex-start;
  border: none;
}
.card img {
  width: 90%;
  text-align: center;
  margin: 20px auto;
}

/* todo caurosel */

.caurosel-bg {
  background-color: rgba(197, 240, 197, 0.2);
}

.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}

.carousel-item img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.carousel-item .row p {
  color: black;
  font-weight: 500;
  line-height: 32px;
  font-size: 16px;
}
.comment-sign {
  color: orangered;
  font-size: 30px;
}

footer {
  background-color: gray;
  padding: 60px 30px 0 30px;
  color: white;
}

footer .row .col-8 .col-4 div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}
footer .row .col-8 .col-4 div h5 {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
footer .row a {
  text-decoration: none;
  color: white;
}

footer p {
  margin-top: 20px;
}
